.main_container {
    margin-top: 65px;
}

@media (min-width: 786px) {
    .main_container {
        /* display: flex; */
        height: calc(100vh - 65px);;
        align-items: center;
    }
}

@media (max-width: 499px) {
    .main_container {
        margin-top: 80px;
        height: calc(100vh - 330px);
    }
    
}